/* c64pm.js */

.question {
    border: solid blue 2px;
    border-radius: 3px;
    padding: 4px;
    margin-bottom: 5px;
}

.tbox {
    background: #ccffcc;
}

.reason {
    padding-left: 20px;
    font-style: italic;
}

#answers {
    border: solid green 2px;
    border-radius: 3px;
    padding: 4px;
    margin-bottom: 5px;
    
}

dt {
    font-weight: bold;
}
